@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=BIZ+UDPMincho&family=Bebas+Neue&family=Cutive&family=Gothic+A1&family=Kumbh+Sans:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap');
*{
    margin: 0;
}
.breaking_bad{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    border: 2px dotted white;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
}
.logo{
    font-family: Kumbh Sans, serif;
    color: white;
    font-size: 0.7rem;
    font-style: normal;
}
.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search{
    width: 1.5rem;
}
.divsearch{
    background-color: rgba(255, 253, 253, 0.27);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.search_field{
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Roboto Mono, monospace;
    color: white;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}
a{
    color: white;
    text-decoration: none;
    font-family: Kumbh Sans;
    font-size: 1.2vw;
    padding: 1vw;
}
.spacer{
    height: 35vw;
}
@media (max-width: 768px) {
    .spacer{
        height: 20vw;
    }
}
.watch_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    padding: 0.5vw 1vw;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: black;
    font-family: Roboto Serif;
    font-size: 1.5rem;
    margin-left: 12vw;
}
.play > img{
    width: 3rem;
}
.logos{
    width: 35vw;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
}
.film{
    width: 29vw;
    height: 16vw;
    scale: 1.08;
    margin-top: 0.4rem;
}
.films{
    border: 1.5px dotted black;
    border-radius: 0.8rem;
    overflow: hidden;
}
.films:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    scale: 1.01;
    transition: transform 0.7s ease-in-out;
}
.films > p{
    font-size: 1.2rem;
    color: black;
    font-family: Adamina;
    font-size: 3vw;
    text-align: center;
}